button.Twilio-Side-Link--Active > div.Twilio-Side-Link-IconContainer > div.Twilio-Icon {
  color: #fff;
}

.Twilio-MainHeader-default > div {
  background: rgb(0 0 0 / 0%);
}

button.Twilio-Side-Link--Active {
  background-color: #0e2d9f;
}

button.Twilio-Side-Link--Active:hover {
  background-color: #31489f;
}

button.Twilio-Side-Link:hover {
  background-color: #31489f;
}

.Twilio-TaskCanvasHeader-Name {
  margin-bottom: 0px !important;
}

.Twilio-TaskCanvasHeader-Activity {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.Twilio-MainHeader-default > * > img {
  block-size: 4rem;
  margin-left: -30px;
  max-width: none;
  max-height: none;
}
