/* button.Twilio-Side-Link--Active > div.Twilio-Side-Link-IconContainer > div.Twilio-Icon {
  color: #fff;
}

.Twilio-MainHeader-default > div {
  background: rgb(0 0 0 / 0%);
}

button.Twilio-Side-Link--Active {
  background-color: #0e2d9f;
}

button.Twilio-Side-Link--Active:hover {
  background-color: #31489f;
}

button.Twilio-Side-Link:hover {
  background-color: #31489f;
}

.Twilio-TaskCanvasHeader-Name {
  margin-bottom: 0px !important;
}

.Twilio-TaskCanvasHeader-Activity {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.Twilio-MainHeader-default > * > img {
  block-size: 4rem;
  margin-left: -30px;
  max-width: none;
  max-height: none;
  height: 35px;
} */

div.Twilio-SideNav-default > button.Twilio-Side-Link:hover,
div.Twilio-SideNav-default > button.Twilio-Side-Link:active,
div.Twilio-SideNav-default > button.Twilio-Side-Link--Active:hover,
div.Twilio-SideNav-default > button.Twilio-Side-Link--Active:active {
  background-color: rgb(17, 50, 160) !important;
}
button.Twilio-Side-Link > div.Twilio-Side-Link-IconContainer > div.Twilio-Icon {
  color: #f7f7f7;
}
button.Twilio-Side-Link--Active > div.Twilio-Side-Link-IconContainer > div.Twilio-Icon {
  color: #c7c7c7;
}
button.Twilio-ErrorUI-IconButton {
  margin-right: 12px;
  background-color: #f7f7f7;
}
div.Twilio-MainHeader > div.Twilio-MainHeader-default > div > button:hover,
button.Twilio-ErrorUI-IconButton:hover {
  background-color: #e7e7e7 !important;
}
div.Twilio-Icon-NotificationDegraded > svg > path:nth-child(1),
div.Twilio-Icon-NotificationOperational > svg > path:nth-child(1),
div.Twilio-Icon-NotificationOperational > svg > path:nth-child(2) {
  fill: #aeb2c1;
}
div.Twilio-MainHeader-default > div:nth-child(3) {
  margin-left: 15px;
}
div.Twilio-MainHeader {
  padding: 0px;
  border-top: solid 1px #c7c7c7;
}
div.Twilio-MainHeader-default {
  height: 100%;
}
div.Twilio-MainHeader-default > div:nth-child(2) {
  width: 51px;
}
div.Twilio-MainHeader-default > div:nth-child(2) > button {
  margin-right: 0px;
  width: 51px;
  border-radius: 0%;
  height: 100%;
}

.Twilio-MainHeader-end > div > button > span > div > span {
  color: black;
}
